# --- 1. Dependencies---
node_modules/

# --- 2. Secrets ---
.env
.env.local

# --- 3. System Files ---
.DS_Store
Thumbs.db

# --- 4. Build Outputs  ---
dist/
build/

# --- 5. Sui/Move Specific ---
sui/ibt/build/
*.lock